/*! locomotive-scroll v4.1.3 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
  
  html.has-scroll-dragging {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  
  .has-scroll-smooth body {
    overflow: hidden; }
  
  .has-scroll-smooth [data-scroll-container] {
    min-height: 100vh; }
  
  [data-scroll-direction="horizontal"] [data-scroll-container] {
    height: 100vh;
    display: inline-block;
    white-space: nowrap; }
  
  [data-scroll-direction="horizontal"] [data-scroll-section] {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    height: 100%; }
  
  .c-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 11px;
    height: 100%;
    transform-origin: center right;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0; }
    .c-scrollbar:hover {
      transform: scaleX(1.45); }
    .c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
      opacity: 1; }
    [data-scroll-direction="horizontal"] .c-scrollbar {
      width: 100%;
      height: 10px;
      top: auto;
      bottom: 0;
      transform: scaleY(1); }
      [data-scroll-direction="horizontal"] .c-scrollbar:hover {
        transform: scaleY(1.3); }
  
  .c-scrollbar_thumb {
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
    width: 7px;
    border-radius: 10px;
    margin: 2px;
    cursor: -webkit-grab;
    cursor: grab; }
    .has-scroll-dragging .c-scrollbar_thumb {
      cursor: -webkit-grabbing;
      cursor: grabbing; }
    [data-scroll-direction="horizontal"] .c-scrollbar_thumb {
      right: auto;
      bottom: 0; }




*{margin: 0;
    opacity:1 ;
    cursor: none;
}


@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;700&display=swap');
@font-face {
    font-family: 'future';
    src: url("./aquire-font/AquireLight-YzE0o.otf");
}
@font-face {
    font-family: 'futureB';
    src: url("./aquire-font/Aquire-BW0ox.otf");
}
html{
    background-color: black;
}
header{
    width: 100%;
    height: 15vh;
    position: absolute;
    display: flex;
    justify-content: space-around;
    z-index: 1000;
    align-items: center;
}
.logo{
    font-family: 'future';
    font-size: 5vw;
    color: white;
    padding-left: 40px;
    margin-top: 30px;
}
header ul{
    display: flex;
    gap: 50px;
    list-style:none;
    align-items: center;
    
}
header ul a{
    text-decoration: none;
    color: white;
    font-family: 'Unbounded';
    gap: 50px;
    z-index: 10000;
}
.hamburger{
    width: 5vh;
    height: 5vh;
    font-size: xx-large;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
    z-index: 100;
    align-self: center;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
}

  
.menu video{
    position: absolute;
    z-index: -1;
    left: 55vh;
    width: 130vh;
    height: 100vh;
}
.menuItem{
    color: rgba(0, 0, 0, .6);
}
.menuItem:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
  }
  
  @-webkit-keyframes shine {
    from {
      -webkit-mask-position: 150%;
    }
    
    to {
      -webkit-mask-position: -50%;
    }
  }
.menu {
    position: fixed;
    width: 90%;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform .8s;
    top: 1px;
    left: 0;
    right: 0;
    bottom: 0;
    background: #010101;
    padding-top: 4rem;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    overflow: hidden;
}
.menu ul{
    padding-top: 20vh;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
.menu li{
    width: min-content;
    list-style: none;
    position: relative;
    padding-left: 5vh;

}
.menu li a{
    width: min-content;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Unbounded';
    font-weight: 600;
    font-size: 7vh;
    justify-self: center;
    align-self: center;

}
.showMenu {
    transform: translateX(0);
}

.cursor {
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s infinite alternate;
    pointer-events: none;
    z-index: 1000;
    
}
.cursor::after {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    border: 8px solid gray;
    border-radius: 50%;
    opacity: .5;
    top: -8px;
    left: -8px;
    animation: cursorAnim2 .5s infinite alternate;
}
@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.7);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.4);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}
@keyframes cursorAnim4 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.hover{
    animation: cursorAnim4 .5s forwards;
    border: 1px solid rgb(255, 255, 255);
}
.expand {
    animation: cursorAnim3 .5s forwards;
    border: 1px solid rgb(255, 255, 255);
}




.controls{
    z-index: 1000;
    position: absolute;
    top: 500px;
}
.caca1{
    height: 100vh;
    overflow: hidden;
    width: 100%;
    z-index: 0;
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='120' height='20' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 0%, 1)'/><path d='M-50.129 12.685C-33.346 12.358-16.786 4.918 0 5c16.787.082 43.213 10 60 10s43.213-9.918 60-10c16.786-.082 33.346 7.358 50.129 7.685'  stroke-width='1' stroke='hsla(259, 0%, 18%, 0.05)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>")}




    .hercules{
    width: 100%;
    height: 120vh;
    background-color: transparent;
    margin: 0px;
    z-index: 2;
    position: absolute;
    right: 15vw;
}

.absoluteText{
    width: 500%;
    position: relative;
    top: 40%;
    left: 20px;
    border: 5px solid;
    z-index: 1;
}
.absoluteText h1::after{
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    background: linear-gradient(0deg, #bdf1a5, #ff5520, #750cf2, #1b4466);
    z-index: -1;
}
.absoluteText h1::before{
    content: '0';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, #bdf1a5, #ff5520, #750cf2, #1b4466);
    z-index: -2;

}
.absoluteText h1{
    font-size: 10vw;
    position: relative;
    color: #ffffff;
    text-align: center;
    letter-spacing: 2vw;
    background: #000000;
    font-family: 'future';
    font-weight: lighter;
    animation: breathing infinite  linear;
    animation-duration: 15s;

}
.animation{
    animation: caeca infinite linear;
    animation-duration: 35s;

}
@keyframes caeca {
    0%{ 
        transform: translateX(-1000px);}
    100%{
        transform: translateX(-5000px)
    }
}
/*
@keyframes breathing {
    0%{
        color: #000000;
    }
    25%{
        color: white;
    }
    50%{
        color: #000000;
    }
    75%{
        color: white;
    }
    100%{
        color: black;
    }
}*/






.art img{
    position: relative;
    width: 40vw;
    height: auto;
    left:11%;
    bottom: 50px;
    z-index: 3000;
}

.art1{
    color: white;
    font-size: 2vw;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 7vw;
    left: 0;
    gap: 3vw;
    z-index: 0;
    font-family: 'Unbounded';
    background-color: rgba(0, 0, 0, 0.185);
    width: fit-content;
}
.art1 p{
    transform: rotateZ(-90deg);
    height: fit-content;
    width: fit-content;
    position: relative;
    right: .3vw;

}
.art1 img{
    width: 4vw;
}
.art1 :nth-child(3){
    transform: rotateZ(-180deg);
}
 


.caca2{
    height: 100vh;
    background-image: url(./img/Contour\ Line.svg);
    background-position: center;
    background-size: 110%;
    overflow: hidden;
    z-index: 1000000;
}
.queSomos{
    font-size: xx-large;
    color: white;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Unbounded';
    font-size: 6vw;
    position: relative;
    top: 5%;
}
.queSomos .queSomos2{
    transform: rotateZ(-10deg);
    position: relative;
    top: -3vw;
}
.queSomos2 p{
    background-color: #25252556;
}
.queSomosW{
    opacity: 0;
}
.animacionQueSomos{
    animation: quesomos linear;
    animation-duration: .5s;
}
@keyframes quesomos {
    from{
        scale: 0;
        opacity: 0;
    }
    to{
        scale: 1;
        opacity: 1;
    }
}

#anchor{
    transform: scaleX(-1);
    max-height: 90vh;
    min-height: 90vh;
}

.eyes , .eyes img{
    position: absolute;
    display: flex;
}
.eye1{
    bottom: 50.3vh;
    left: 26vh;
    max-height: 4vh;

}
.eye2{
    bottom: 51vh;
    left: 41vh;
    max-height: 4vh;

}


.queSomosCartas{
    height: 50vh;
    width: 80%;
    position: absolute;
    right: 0vw;
    top: 20vw;
    display: flex;
    background-color: transparent;
    gap: 50px;
    overflow-x: scroll;
    border-radius: 50px;
    opacity: 0;
}
.queSomosCartasAnimado{
    height: 50vh;
    width: 65%;
    position: absolute;
    right: 0.5vw;
    top: 20vw;
    display: flex;
    background-color: transparent;
    gap: 50px;
    overflow-x: scroll;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

    animation: left-show ease-in-out;
    animation-duration: 1s;
}
@keyframes left-show {
    from{
        transform: translateX(100vh);
    }
    to{
        transform: translateX(0px);

    }
}
.queSomosCartasAnimado::-webkit-scrollbar {
    height: 20px;               /* width of the entire scrollbar */
  }
  
  .queSomosCartasAnimado::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);        /* color of the tracking area */
  }
  
  .queSomosCartasAnimado::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);    /* color of the scroll thumb */
    border-radius: 500px;       /* roundness of the scroll thumb */
    border: 3px solid rgb(255, 255, 255);  /* creates padding around scroll thumb */
  }
.carta{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    background-color: #ffffff3b;
    width: 800px;
    height: auto;
    color: #fff;
    border-radius: 10%;
    font-family: 'Unbounded';
    align-items: flex-start;
}
.carta h4{
    font-size: 40px;
    text-align: left;
    padding-left: 40px;
    width: 50vh;

}
.carta p{
    font-size: 20px;
    text-align: left;
    padding-left: 40px;
    position: relative;
    bottom: 8%;
    width: 80%;
    height: 6vh;
    
}
.carta img{
    height: 20vh;
    width: 20vh;
    padding-left: 50px;
}
.carta .icon1{
    width: 28vh;
}
.carta .icon3{
    width: 23vh;
    height: 20vh;
}


.carta .pngIcon{
    width: 20vh;
    height: 15vh;
}
.users h4{

}
.users p{
    margin-bottom: -4.5vh;
}


.caca3{
    height: 100vh;
    background-image: url(./img/Contour\ Line.svg);
    background-position: center;
    background-position: 0vh 103.4vh;
    background-size: 110%;
}
.allDirection{
    height: 200vh;
    top: 34vh;
    font-family: 'Unbounded';

}
.direction{
    width: max-content;
}
.direction div{
    background-color: #fff;
    display: block;
    white-space: nowrap;
    font-size: 12vw;
    font-weight: 600;
}


.direction1{
    transform: rotateZ(20deg);
    position: relative;
    top: 70vh;
    right: 86vh;
}

.direction2{
    transform: rotateZ(-20deg);
    position: relative;
    top:0vh;
    right:166vh;

}

.direction3{
    transform: rotateZ(0deg);
    position: relative;
    bottom: 20vh;
    right: 160vh;

}
.direction4{
    position: relative;
    bottom: 0vh;
    right:200vh;
    transform: rotateZ(90deg);
    top:70vh;
    z-index: -1;

}
.direction5{
    position: relative;
    transform: rotateZ(-32deg);
    bottom: 60vh;
    right: 86vh;

}
.direction6{
    position: relative;
    transform: rotateZ(32deg);
    top: 50vh;
}
.caca4{
    background-color: #ad3c3c;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.8015581232492998) 0%, rgba(0,0,0,0.9444152661064426) 5%, rgba(0,0,0,.98) 16%, rgba(0,0,0,.99) 20%, rgba(0,0,0,1) 35%);
    z-index: 10000;
    height: 200vh;
    
}
.caca4 h1{
    color: white;
    font-size: 55px;
}
.separador{
    height: 100vh;
}
